<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update a Movie</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css">
</head>
<body class="bg-gray-100">
<div class="container mx-auto p-4">
    <h1 class="text-2xl font-bold mb-4">Update Movie</h1>
    <form th:action="@{/update}" method="post">
        <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2">Enter movie id</label>
            <input type="number" name="id" class="px-4 py-2 w-full border rounded">
        </div>
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Load</button>
        <br>
    </form>
    <div th:if="${alert}" class="alert alert-danger">
        <p th:text="${alert}"></p>
    </div>
    <form th:action="@{/updateSave}" method="post" th:object="${movie}">
        <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2">Id</label>
            <input type="number" name="movieId" class="px-4 py-2 w-full border rounded" th:value="${movie.id}">
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2">Title</label>
            <input type="text" name="title" class="px-4 py-2 w-full border rounded" th:value="${movie.title}">
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2">Description</label>
            <textarea name="description" class="px-4 py-2 w-full border rounded" th:text="${movie.description}"></textarea>
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2">Genres</label>
            <select name="genre" class="border rounded px-2 py-1 ml-2">
                <option value="">All Genres</option>
                <option value="Action">Action</option>
                <option value="Adventure">Adventure</option>
                <option value="Comedy">Comedy</option>
                <option value="Drama">Drama</option>
                <option value="Fantasy">Fantasy</option>
                <option value="Horror">Horror</option>
                <option value="Mystery">Mystery</option>
                <option value="Romance">Romance</option>
                <option value="Sci-Fi">Sci-Fi</option>
                <option value="Thriller">Thriller</option>
                <option value="Animation">Animation</option>
                <option value="Family">Family</option>
                <option value="History">History</option>
                <option value="Musical">Musical</option>
                <option value="War">War</option>
                <option value="Crime">Crime</option>
                <option value="Western">Western</option>
                <option value="Biography">Biography</option>
            </select>
            <select name="genre2" class="border rounded px-2 py-1 ml-2">
                <option value="">All Genres</option>
                <option value="Action">Action</option>
                <option value="Adventure">Adventure</option>
                <option value="Comedy">Comedy</option>
                <option value="Drama">Drama</option>
                <option value="Fantasy">Fantasy</option>
                <option value="Horror">Horror</option>
                <option value="Mystery">Mystery</option>
                <option value="Romance">Romance</option>
                <option value="Sci-Fi">Sci-Fi</option>
                <option value="Thriller">Thriller</option>
                <option value="Animation">Animation</option>
                <option value="Family">Family</option>
                <option value="History">History</option>
                <option value="Musical">Musical</option>
                <option value="War">War</option>
                <option value="Crime">Crime</option>
                <option value="Western">Western</option>
                <option value="Biography">Biography</option>
            </select>
            <select name="genre3" class="border rounded px-2 py-1 ml-2">
                <option value="">All Genres</option>
                <option value="Action">Action</option>
                <option value="Adventure">Adventure</option>
                <option value="Comedy">Comedy</option>
                <option value="Drama">Drama</option>
                <option value="Fantasy">Fantasy</option>
                <option value="Horror">Horror</option>
                <option value="Mystery">Mystery</option>
                <option value="Romance">Romance</option>
                <option value="Sci-Fi">Sci-Fi</option>
                <option value="Thriller">Thriller</option>
                <option value="Animation">Animation</option>
                <option value="Family">Family</option>
                <option value="History">History</option>
                <option value="Musical">Musical</option>
                <option value="War">War</option>
                <option value="Crime">Crime</option>
                <option value="Western">Western</option>
                <option value="Biography">Biography</option>
            </select>

        </div>

        <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2">Category</label>
            <select name="category" class="border rounded px-2 py-1">
                <option value="" disabled>Select a Category</option>
                <option th:value="Action" th:selected="${movie.category == 'Action'}">Action</option>
                <option th:value="Drama" th:selected="${movie.category == 'Drama'}">Drama</option>
                <option th:value="Comedy" th:selected="${movie.category == 'Comedy'}">Comedy</option>
                <option th:value="Adventure" th:selected="${movie.category == 'Adventure'}">Adventure</option>
                <option th:value="Sci-Fi" th:selected="${movie.category == 'Sci-Fi'}">Sci-Fi</option>
                <option th:value="Fantasy" th:selected="${movie.category == 'Fantasy'}">Fantasy</option>
                <option th:value="Horror" th:selected="${movie.category == 'Horror'}">Horror</option>
                <option value="Romance" th:selected="${movie.category == 'Romance'}">Romance</option>
                <option value="Thriller" th:selected="${movie.category == 'Thriller'}">Thriller</option>
                <option value="Animation" th:selected="${movie.category == 'Animation'}">Animation</option>
            </select>
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2">Release Date</label>
            <input type="date" name="releaseDate" class="px-4 py-2 w-full border rounded" th:value="${movie.releaseDate}">
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2">Director</label>
            <input type="text" name="director" class="px-4 py-2 w-full border rounded" th:value="${movie.director}">
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2">Actors (comma-separated)</label>
            <input type="text" name="actors" class="px-4 py-2 w-full border rounded" th:value="${movie.actors}">
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2">Rating</label>
            <input type="number" name="rating" step="0.1" class="px-4 py-2 w-full border rounded" th:value="${movie.rating}">
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2">Poster url</label>
            <input type="text" name="poster" step="0.1" class="px-4 py-2 w-full border rounded" th:value="${movie.posterUrl}">
        </div>

        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Update Movie</button>
    </form>
    <a th:href="@{/}">Back to Movies List</a>
</div>
<br/>
</body>
</html>
